<header>
    <div class="bg-theme-overlay fadein-page" [style]="banner">
        <section class="section__breadcrumb ">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 text-center">
                        <h2 class="text-capitalize text-white ">Sobre nós</h2>
                        <!--                        <ul class="list-inline ">-->
                        <!--                            <li class="list-inline-item">-->
                        <!--                                <a href="#" class="text-white">-->
                        <!--                                    home-->
                        <!--                                </a>-->
                        <!--                            </li>-->
                        <!--                            <li class="list-inline-item">-->
                        <!--                                <a href="#" class="text-white">-->
                        <!--                                    property-->
                        <!--                                </a>-->
                        <!--                            </li>-->
                        <!--                            <li class="list-inline-item">-->
                        <!--                                <a href="#" class="text-white">-->
                        <!--                                    property list-->
                        <!--                                </a>-->
                        <!--                            </li>-->

                        <!--                        </ul>-->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END BREADCRUMB -->
</header>
<div class="clearfix"></div>

<section class="home__about bg-light fadein-page-slow">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title__leading">
                    <h2 class="text-capitalize" [innerHTML]="siteInfo.institutionalTextResume"></h2>
                    <div [innerHTML]="siteInfo.institutionalText"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__image">
                    <div class="about__image-top">
                        <div class="about__image-top-hover">
                            <img src="../../assets/images/simple-house.jpg" alt="" class="img-fluid">
                        </div>

                    </div>
                    <div class="about__image-bottom">
                        <div class="about__image-bottom-hover">
                            <img src="../../assets/images/bg7.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CORRETORES -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        Corretores
                    </h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="d-flex justify-content-around align-content-around flex-wrap">
            <div style="max-width: 250px" class="card text-center mb-4" *ngFor="let agent of agents">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ agent.image }}" class="img-fluid"
                        onerror="this.src='../../assets/images/icon-agent.png'" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ agent.name }}</h5>
                    <p class="card-text">{{ converterTelefone(agent.phone) }}</p>
                    <a (click)="redirectToSocialMedia('https://wa.me/{{ agent.phone }}')"
                        class="btn btn-social rounded text-white whatsapp">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CORRETORES -->

<!-- PARCEIROS -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        Parceiros
                    </h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="d-flex justify-content-around align-content-around flex-wrap">
            <div *ngFor="let partner of partners" style="width: 150px" class="d-flex align-items-center">
                <img src="{{ partner.image }}" alt="{{ partner.name }}" class="img-fluid"
                    onerror="this.src='../../assets/images/sem-imagem-300x300.png'" />
            </div>
        </div>
    </div>
</section>
<!-- END PARCEIROS -->