<header>
    <div class="bg-theme-overlay fadein-page" [style]="banner">
        <section class="section__breadcrumb ">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 text-center">
                        <h2 class="text-capitalize text-white ">Sobre nós</h2>
                        <!--                        <ul class="list-inline ">-->
                        <!--                            <li class="list-inline-item">-->
                        <!--                                <a href="#" class="text-white">-->
                        <!--                                    home-->
                        <!--                                </a>-->
                        <!--                            </li>-->
                        <!--                            <li class="list-inline-item">-->
                        <!--                                <a href="#" class="text-white">-->
                        <!--                                    property-->
                        <!--                                </a>-->
                        <!--                            </li>-->
                        <!--                            <li class="list-inline-item">-->
                        <!--                                <a href="#" class="text-white">-->
                        <!--                                    property list-->
                        <!--                                </a>-->
                        <!--                            </li>-->

                        <!--                        </ul>-->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END BREADCRUMB -->
</header>
<div class="clearfix"></div>

<section class="home__about bg-light fadein-page-slow">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title__leading">
                    <!-- <h6 class="text-uppercase">trusted By thousands</h6> -->
                    <h2 class="text-capitalize"> {{ siteInfo.institutionalTextResume }} </h2>
<!--                    <p>-->
<!--                        {{ siteInfo.configuration.institutionalTextResume }}-->
<!--                    </p>-->
                    <p>
                        {{ siteInfo.institutionalText }}
                    </p>
<!--                    <a href="#" class="btn btn-primary mt-3 text-capitalize"> read more-->
<!--                        <i class="fa fa-angle-right ml-3 "></i></a>-->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__image">
                    <div class="about__image-top">
                        <div class="about__image-top-hover">
                            <img src="../../assets/images/simple-house.jpg" alt="" class="img-fluid">
                        </div>

                    </div>
                    <div class="about__image-bottom">
                        <div class="about__image-bottom-hover">
                            <img src="../../assets/images/bg7.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
