@charset "UTF-8";

@-webkit-keyframes breath {
    0% {
        background-size: 100% auto;
    }

    50% {
        background-size: 120% auto;
    }

    100% {
        background-size: 140% auto;
    }
}

@keyframes breath {
    0% {
        background-size: 100% auto;
    }

    50% {
        background-size: 120% auto;
    }

    100% {
        background-size: 140% auto;
    }
}


.app .form-control {
    border: 1px solid #d1d5da !important;
}

.bg-theme {
    -webkit-animation: breath 15s linear infinite;
    animation: breath 15s linear infinite;
}

.navbar-transparent .navbar-brand img:last-child {
    display: block !important;
}

header .ngx-slider .ngx-slider-bubble {
    color: #fff !important;
}

.btn {
    border-radius: 6px;
}

.h-250 {
  min-height: 250px;
  height: auto !important;
}

.custom-card-info {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}

.custom-card-info .custom-card-info-item {
    padding: 2px 5px;
    background-color: #002247;
    box-shadow: 1px 2px 1px rgb(94 93 99 / 8%), 0 1px 2px rgb(61 60 66 / 12%);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    margin-left: 10px;
}

.custom-card-info .custom-card-info-item-bankable {
    background-color: green;
}
