<!--<meta property="og:title" [content]="property?.title" />-->
<!--<meta property="og:type" content="article" />-->
<!--<meta property="og:image" content="https://cdn-imobiliaria7setembro-com-br.umbler.net/e3ddc533-9683-4ab7-b907-0ea521933d3a.jpg" />-->
<!--<meta property="og:url" [content]="urlToShareFacebook" />-->
<!--<meta property="og:site_name" content="Imobiliária 7 de Setembro" />-->
<!--<meta property="og:description" [content]="property?.description" />-->

<div class="bg-light fadein-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section__breadcrumb-v1">
          <ol class="breadcrumb mb-0 bg-light">
            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <a (click)="redirectToProperties()">Imóveis</a></li>
            <li class="breadcrumb-item active"> <span class="text-capitalize"> {{ property?.title }} </span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BREADCRUMB -->
<div class="single__detail-area fadein-page-slow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single__detail-area-price">
          <h4 class="text-capitalize text-gray">
            {{ property?.price && property?.price !== "0.00" ? 'R$' + converterParaMoeda(property?.price, false) : 'A
            CONSULTAR' }}
          </h4>
          <h6 class="text-capitalize text-white" *ngIf="property?.financeable"> <span class="financeable-label">
              Financiável </span> </h6>
        </div>
      </div>
      <div class="col-md-12">
        <div class="single__detail-area-title d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="text-capitalize"> Código {{ property?.internalCode }} - {{ property?.title }}</h3>
            <p> {{ property?.neighborhood?.description }} - {{ property?.city?.description }}, {{
              property?.federativeUnit?.description }} </p>
          </div>
          <div class="">
            <share-buttons theme="circles-dark"
              [include]="['copy', 'whatsapp', 'facebook', 'email', 'messenger', 'telegram']" [showIcon]="true"
              [showText]="false" [url]="infoToShare.url" [description]="infoToShare.description">
            </share-buttons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SLIDER IMAGE DETAIL -->
<!-- RECENT PROPERTY -->

<div class="container container-image fadein-page-slow">
  <div class="row">
    <div class="col-md-12">
      <div class="slideshow-container">
        <div *ngFor="let image of imagesUrls; let i = index"
          class="mySlides custom-fade {{ i == slideIndex ? 'd-block' : 'd-none' }}">
          <img [src]="getPropertyImage(image)" style="width:100%" />
        </div>
        <button type="button" class="prev" (click)="prevSlides()">&#10094;</button>
        <button type="button" class="next" (click)="plusSlides()">&#10095;</button>
      </div>
    </div>
  </div>
</div>

<!-- END RECENT PROPERTY -->
<!-- END SLIDER IMAGE DETAIL -->

<!-- SINGLE DETAIL -->
<section class="single__Detail fadein-page-slow">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- DESCRIPTION -->
        <div class="row">
          <div class="col-lg-12">
            <div class="single__detail-desc">
              <h2 class="text-capitalize detail-heading mt-0">Descrição</h2>
              <div style="font-size: 1.5rem !important;" [innerHTML]="property?.description"></div>
            </div>
            <div class="clearfix"></div>

            <!-- PROPERTY DETAILS SPEC -->
            <div class="single__detail-features">
              <h2 class="text-capitalize detail-heading">Detalhes</h2>
              <!-- INFO PROPERTY DETAIL -->
              <div class="property__detail-info">
                <div class="row">
                  <div class="col-md-6 col-lg-6">
                    <ul class="property__detail-info-list list-unstyled">
                      <li *ngIf="property?.internalCode"><b>Código do Imóvel:</b> {{ property?.internalCode }} </li>
                      <li><b>Preço:</b>{{ property?.price && property?.price !== "0.00" ? 'R$' +
                        converterParaMoeda(property?.price, false) : 'A CONSULTAR' }}</li>
                      <li *ngIf="property?.condominiumPrice && property?.condominiumPrice !== '0.00' && property?.condominiumPrice !== '0'"><b>Valor do Condominio:</b> {{ 'R$' + converterParaMoeda(property?.condominiumPrice, false) }}</li>
                      <li *ngIf="property?.totalArea"><b>Área Total:</b> {{ property?.totalArea }}m² </li>
                      <li *ngIf="property?.privativeArea"><b>Área Privativa:</b> {{ property?.privativeArea }}m² </li>
                      <li *ngIf="property?.dormitory"><b>Quartos:</b> {{ property?.dormitory }} </li>
                      <li *ngIf="property?.bathroom"><b>Banheiros:</b> {{ property?.bathroom }} </li>
                      <li *ngIf="property?.suite"><b>Suítes:</b> {{ property?.suite }} </li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <ul class="property__detail-info-list list-unstyled">
                      <li *ngIf="property?.parkingVacancy"><b>Vagas de garagem:</b> {{ property?.parkingVacancy }}</li>
                      <li *ngIf="property?.constuctionYear"><b>Ano de construção:</b> {{ property?.constuctionYear }}</li>
                      <li *ngIf="property?.type?.description"><b>Tipo de imóvel:</b> {{ property?.type?.description }}</li>
                    </ul>
                  </div>
                </div>

              </div>
              <!-- END INFO PROPERTY DETAIL -->
            </div>
            <!-- END PROPERTY DETAILS SPEC -->
            <div class="clearfix"></div>


            <!-- LOCATION -->
            <div class="single__detail-features">
              <h2 class="text-capitalize detail-heading">Localização</h2>

              <div class="map-frame">
                <div id="map"></div>
              </div>

              <!-- END FILTER VERTICAL -->
            </div>
            <!-- END LOCATION -->

          </div>
        </div>
        <!-- END DESCRIPTION -->
      </div>
      <div class="col-lg-4">
        <div class="sticky-top">
          <!-- FORM FILTER -->
          <form [formGroup]="searchForm">
            <div class="products__filter mb-30">
              <div class="products__filter__group">
                <div class="products__filter__header">
                  <h2 class="text-center text-capitalize">Suas preferências</h2>
                </div>
                <div class="products__filter__body">

                  <div class="form-group ml-2">
                    <div class="form-check">
                      <input formControlName="financeable" class="form-check-input bankable" type="checkbox" value=""
                        id="defaultCheck1">
                      <label class="form-check-label ml-1" for="defaultCheck1">
                        Financiável
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <select class="wide select_option form-control" formControlName="zone">
                      <option data-display="Property Status" value="0">Zona</option>
                      <option *ngFor="let zone of zones" [value]="zone.code"> {{ zone.description
                        }}</option>

                    </select>
                  </div>
                  <div class="form-group">
                    <select class="wide select_option form-control" formControlName="type">
                      <option data-display="Property Status" value="0">Tipo</option>
                      <option *ngFor="let type of types" [value]="type.code"> {{ type.description }}
                      </option>

                    </select>
                  </div>
                  <div class="form-group">
                    <select class="wide select_option form-control" formControlName="finality">
                      <option data-display="Property Type" value="0">Finalidade</option>
                      <option *ngFor="let finality of finalities" [value]="finality.code"> {{
                        finality.description }} </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="wide select_option form-control" formControlName="city"
                      (change)="getNeighborhoods()">
                      <option data-display="Area From" value="0"> Cidade </option>
                      <option *ngFor="let city of cities" [value]="city.code"> {{ city.description
                        }} </option>
                    </select>
                  </div>
                  <div class="form-group" *ngIf="neighborhoods && neighborhoods.length > 0">
                    <div class="checkbox" class="row-sm-6"  formArrayName="neighborhood">
                      <div id="scrollable-checkbox-list">
                        <div *ngFor="let item of getNeighborhoodControls(); let i = index" class="neighborhood-item">
                          <input type="checkbox" [formControlName]="i">
                          <span class="p-1">{{ neighborhoods[i].description }}</span>
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <select class="wide select_option form-control" formControlName="bedroom">
                      <option data-display="Bedrooms" value="null">Dormitórios</option>
                      <option [value]="1">1</option>
                      <option [value]="2">2</option>
                      <option [value]="3">3</option>
                      <option [value]="4">4</option>
                      <option [value]="5">5</option>
                      <option [value]="6">6</option>
                      <option [value]="7">7</option>
                      <option [value]="8">8</option>
                      <option [value]="9">9</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="wide select_option form-control" formControlName="bathroom">
                      <option data-display="Bathrooms" value="null">Banheiros</option>
                      <option [value]="1">1</option>
                      <option [value]="2">2</option>
                      <option [value]="3">3</option>
                      <option [value]="4">4</option>
                      <option [value]="5">5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="wide select_option form-control" formControlName="parkingVacancy">
                      <option data-display="Bathrooms" value="null">Vagas</option>
                      <option [value]="1">1</option>
                      <option [value]="2">2</option>
                      <option [value]="3">3</option>
                      <option [value]="4">4</option>
                      <option [value]="5">5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="wide form-control mb-3" appAllowDecimalNumber formControlName="minPrice"
                      (keyup)="transformCurrency('minPrice')" placeholder="Valor Min." />

                    <input type="text" class="wide form-control" appAllowDecimalNumber formControlName="maxPrice"
                      (keyup)="transformCurrency('maxPrice')" placeholder="Valor Máx." />
                  </div>

                </div>
                <div class="products__filter__footer">
                  <div class="form-group mb-0">
                    <button (click)="search()" class="btn btn-primary text-capitalize btn-block">
                      <i class="fa fa-search ml-1"></i>
                      Pesquisar imóveis
                    </button>

                  </div>
                </div>
              </div>

            </div>
          </form>
          <!-- END FORM FILTER -->
        </div>
      </div>
    </div>

    <!-- SIMILIAR PROPERTY -->
    <div class="row" *ngIf="similarProperties.length">
      <div class="col-lg-12">
        <div class="similiar__item">
          <h6 class="text-capitalize detail-heading">
            Imóveis similares
          </h6>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade " id="pills-tab-one" role="tabpanel" aria-labelledby="pills-tab-one">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card__image card__box-v1">
                    <div class="row no-gutters">
                      <div class="col-md-4 col-lg-3 col-xl-4" *ngFor="let property of similarProperties.slice(0,2)">
                        <div class="card__image__header h-250">
                          <a href="#">
                            <div class="ribbon text-capitalize">solda out</div>
                            <img [src]="getPropertyImage(property?.photo)" class="img-fluid w100 img-transition">
                            <div class="info"> {{ property?.transaction }}</div>
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade show active" id="pills-tab-two" role="tabpanel" aria-labelledby="pills-tab-two">
              <div class="row">
                <a class="col-md-4 col-lg-4" *ngFor="let property of similarProperties.slice(0,2)"
                  [routerLink]="['/detalhes-imovel/' + property.code]">
                  <div class="card__image card__box-v1">
                    <div class="card__image-header h-250 img-space">
                      <!--                                                    <div class="ribbon text-capitalize">sold out</div>-->
                      <div class="image-watermark">
                        <img [src]="getPropertyImage(property?.photo)" alt="" class="img-fluid w100 img-transition">
                      </div>
                      <div class="custom-card-info">
                        <div class="custom-card-info-item custom-card-info-item-bankable" *ngIf="property?.financeable">
                          Financiável </div>
                        <div class="custom-card-info-item"> {{ property?.transaction }} </div>
                      </div>
                    </div>
                    <div class="card__image-body">
                      <span class="badge badge-primary text-capitalize mb-2"> {{ property?.category
                        }} </span>
                      <h6 class="text-capitalize">
                        {{ property?.title }}
                      </h6>

                      <p class="text-capitalize">
                        <i class="fa fa-map-marker"></i>
                        {{ property?.neighborhood }}, {{ property?.city }}
                      </p>
                      <ul class="list-inline card__content">
                        <li class="list-inline-item" *ngIf="property?.bedroom">
                          <span>
                            Dormitórios <br>
                            <i class="fa fa-bed"></i> {{ property?.bedroom }}
                          </span>
                        </li>
                        <li class="list-inline-item" *ngIf="property?.totalArea">
                          <span>
                            Área Total <br>
                            <i class="fa fa-map"></i> {{ property?.totalArea }}m²
                          </span>
                        </li>
                        <li class="list-inline-item" *ngIf="property?.privativeArea">
                          <span>
                            Área Privada <br>
                            <i class="fa fa-map"></i> {{ property?.privativeArea }}m²
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="card__image-footer">
                      <figure>
                        <img src="images/logo.jpg" alt="" class="img-fluid rounded-circle">
                      </figure>
                      <ul class="list-inline my-auto ml-auto">
                        <li class="list-inline-item">
                          <h6 class="text-primary">
                            {{ property?.price && property?.price !== "0.00" ? 'R$' +
                            converterParaMoeda(property?.price, false) : 'A CONSULTAR' }}
                          </h6>
                        </li>

                      </ul>
                    </div>
                  </div>
                </a>
              </div>

              <div class="cleafix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- END SIMILIAR PROPERTY -->
  </div>
</section>
<!-- END SINGLE DETAIL -->

<!-- PARCEIROS -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="title__head">
          <h2 class="text-center text-capitalize">
            Parceiros
          </h2>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="d-flex justify-content-around align-content-around flex-wrap">
      <div *ngFor="let partner of partners" style="width: 150px" class="d-flex align-items-center">
        <img src="{{ partner.image }}" alt="{{ partner.name }}" class="img-fluid"
          onerror="this.src='../../assets/images/sem-imagem-300x300.png'" />
      </div>
    </div>
  </div>
</section>
<!-- END PARCEIROS -->