<form [formGroup]="searchForm" class="fadein-page-slow">

  <div class="wrap__intro d-flex align-items-md-center  ">
    <div class="container  ">
      <div class="row align-items-center justify-content-start flex-wrap">
        <div class="col-lg-12 mx-auto">
          <div class="wrap__intro-heading">

            <h1 class="find-your-prop text-center">
              Encontre o imóvel dos seus sonhos
            </h1>
            <p class="text-center"> {{ siteInfo?.configuration?.institutionalTextResume }} </p>

            <div class="bg__overlay-black p-4">
              <div class="search__property">
                <div class="position-relative">
                  <ul class="nav nav-tabs nav-tabs-02 mb-3 justify-content-start" id="pills-tab" role="tablist">
                    <li class="nav-item mr-1">
                      <a class="nav-link" id="urban-tab" data-toggle="pill" role="tab" aria-controls="buy"
                        aria-selected="true" [ngClass]="{'active': activatedTab == 'URBAN'}"
                        (click)="changeTab('URBAN')">Zona urbana </a>
                    </li>
                    <li class="nav-item mr-1">
                      <a class="nav-link" id="rural-tab" data-toggle="pill" role="tab" aria-controls="rent"
                        aria-selected="false" [ngClass]="{'active': activatedTab == 'RURAL'}"
                        (click)="changeTab('RURAL')"> Zona rural </a>
                    </li>
                    <li class="nav-item mr-1">
                      <a class="nav-link" id="code-tab" data-toggle="pill" role="tab" aria-controls="rent"
                        aria-selected="false" [ngClass]="{'active': activatedTab == 'CODE'}"
                        (click)="changeTab('CODE')"> Código </a>
                    </li>

                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                      <div class=" search__container">
                        <div class="row input-group">
                          <div class="col-lg-3 mb-3" *ngIf="activatedTab == 'URBAN'">
                            <select class="select_option form-control" name="select" formControlName="finality">
                              <option value="0">Finalidade</option>
                              <option *ngFor="let finality of finalities" [value]="finality.code">
                                {{ finality.description }}
                              </option>
                            </select>
                          </div>

                          <div class="col-lg-3 mb-3" *ngIf="activatedTab == 'URBAN'">
                            <select class="select_option form-control" name="select" formControlName="type">
                              <option value="0"> Tipo </option>
                              <option *ngFor="let type of types" [value]="type.code"> {{ type.description }} </option>
                            </select>
                          </div>

                          <div class="col-lg-3 mb-3" *ngIf="activatedTab == 'URBAN' || activatedTab == 'RURAL'">
                            <select class="select_option form-control" name="select" (change)="getNeighborhoods()"
                              formControlName="city">
                              <option value="0"> Cidade </option>
                              <option *ngFor="let city of cities" [value]="city.code">
                                {{ city.description }}
                              </option>
                            </select>
                          </div>

                          <div class="col-lg-3 mb-3" *ngIf="activatedTab == 'URBAN'">                            
                            <div class="checkbox" class="row-sm-6"  formArrayName="neighborhood" *ngIf="neighborhoods && neighborhoods.length > 0">
                              <div id="scrollable-checkbox-list">
                                <div *ngFor="let item of getNeighborhoodControls(); let i = index" class="neighborhood-item">
                                  <input type="checkbox" [formControlName]="i">
                                  <span class="p-1">{{ neighborhoods[i].description }}</span>
                                </div> 
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-3 mb-3" *ngIf="activatedTab == 'CODE'">
                            <input type="number" class="form-control" formControlName="internalCode" min="1  "
                              placeholder="Código">
                          </div>

                          <div class="col-lg-3 mb-3"
                            *ngIf="activatedTab == 'URBAN' || activatedTab == 'RURAL'">
                            <input type="text" class="form-control" appAllowDecimalNumber formControlName="minPrice"
                              (keyup)="transformCurrency('minPrice')" placeholder="Valor Min." />
                          </div>

                          <div class="col-lg-3 mb-3"
                            *ngIf="activatedTab == 'URBAN' || activatedTab == 'RURAL'">
                            <input type="text" class="form-control" appAllowDecimalNumber formControlName="maxPrice"
                              (keyup)="transformCurrency('maxPrice')" placeholder="Valor Máx." />
                          </div>

                          <div class="col-lg-3 mb-3">
                            <button class="btn btn-primary btn-block h-100" type="submit" (click)="search()">
                              <i class="fa fa-search"></i> <span class="ml-1 text-uppercase">Buscar</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</form>