
.find-your-prop {
    text-transform: inherit !important;
}

.search-box {
    background-color: #FFFFFF !important;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20%;
    opacity: 0.84;
}

.search-font {
    padding: 2rem 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-family: "Open Sans",sans-serif;
    text-align: center;
}

.slider-and-search {
    margin-top: 30px;
}

.neighborhood-item {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
}

#scrollable-checkbox-list {

  position: absolute !important;
  z-index: 9999;
  max-height: 140px;
  width: 100%;
  overflow-y: scroll;
  padding: 10px 5px;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  background-color: #fff;
  scrollbar-color: #ccc #f0f0f0; 
}

#scrollable-checkbox-list::-webkit-scrollbar {
  width: 4px;
  background-color: #ccc;
}

/* @supports (scrollbar-color: auto) {
  #scrollable-checkbox-list {
    scrollbar-color: black cornflowerblue;
  }
} */

.search__container input[type="checkbox"] {
  height: 14px;
}
