<footer>
  <div class="wrapper__footer bg-theme-footer" [style]="banner">
    <div class="container">
      <div class="row">
        <!-- ADDRESS -->
        <div class="col-md-4">
          <div class="widget__footer">
            <figure>
              <img class="logo-sete logo-footer img-fluid" [src]="siteLogo" alt="">
            </figure>

            <div class="text-white mb-4" [innerHTML]="siteInfo?.institutionalTextResume"></div>
          </div>

        </div>
        <!-- END ADDRESS -->

        <!-- FACEBOOK -->
        <div class="col-md-4">
          <div class="widget__footer">
            <h3 class="text-white mb-4">Facebook</h3>

            <iframe name="f1533d541d68296" data-testid="fb:page Facebook Social Plugin"
              title="fb:page Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no"
              allow="encrypted-media" style="border: medium none; visibility: visible; width: 255px; height: 130px;"
              src="https://web.facebook.com/v2.6/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df10badef860baf8%26domain%3Dwww.imobiliaria7setembro.com.br%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Fwww.imobiliaria7setembro.com.br%252Ff39be3d0db9e328%26relation%3Dparent.parent&amp;container_width=255&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FImobiliaria7Setembro%2F%3Ffref%3Dts&amp;locale=pt_BR&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false"
              class="mb-4" width="1000px" height="1000px" frameborder="0"></iframe>

            <h3 class="text-white mb-4">Instagram</h3>

            <div class="mb-4">
              <a href="https://www.instagram.com/imob7setembro/" target="_blank"
                style="color: #FFDD21; font-size: 2.5rem;">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- END INSTAGRAM -->

        <!-- LINKS UTEIS -->
        <div class="col-md-4">
          <div class="widget__footer">
            <h3 class="text-white mb-4">Fale Conosco</h3>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.google.com/maps/place/R.+Dr.+Lauro+Azambuja,+288+-+Centro,+Gua%C3%ADba+-+RS"
                  target="_blank">
                  <b> <i class="fa fa-map-marker"></i></b>
                  <span> R. Dr. Lauro Azambuja, 288 - Centro, Guaíba - RS </span>
                </a>
              </li>
              <li>
                <a href="tel:+555134804066">
                  <b><i class="fa fa-phone-square"></i></b><span> (51) 3480-4066 </span>
                </a>
              </li>
              <li>
                <a href="mailto:atendimento@imobiliaria7setembro.com.br">
                  <b><i class="fa fa-headphones"></i></b><span> atendimento@imobiliaria7setembro.com.br </span>
                </a>
              </li>

              <li> <b><i class="fa fa-clock-o"></i></b>
                <span> Segunda a sexta-feira: 09:00 - 18:00 </span>
              </li>
              <li>
                <a href="https://clienteonlinelocacao.samisistemas.com.br/login.php?Sigla=dmi" target="_blank"
                  class="btn btn-primary mt-4"><strong>2° VIA</strong><br>BOLETOS LOCAÇÃO</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="bg__footer-bottom-v1">
    <div class="container">
      <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6">
          <span>
            © 2021 Haniger Agência Digital
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer  -->
</footer>